sphinx==8.1.3
sphinx-automodapi==0.17.0
sphinx-bootstrap-theme==0.8.1
sphinxcontrib-applehelp==1.0.8
sphinx-markdown-tables==0.0.17
furo==2025.07.19
docutils==0.20.1
recommonmark==0.7.1
myst-parser==4.0.0
